# supabase storage + postgres db
SUPABASE_URL="your-supabase-url"
SUPABASE_SECRET_KEY="your-supabase-secret-key"
DATABASE_URL="your_database_url"

# better-auth
BETTER_AUTH_SECRET="your-better-auth-secret"
BETTER_AUTH_URL="http://localhost:3000"

# google logins
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# qstash
QSTASH_URL="your-qstash-url"
QSTASH_TOKEN="your-qstash-token"
QSTASH_CURRENT_SIGNING_KEY="your-qstash-signing-key"
QSTASH_NEXT_SIGNING_KEY="your-qstash-next-signing-key"

# upstash redis
UPSTASH_REDIS_REST_TOKEN="your-upstash-redis-rest-token"
UPSTASH_REDIS_REST_URL="your-upstash-redis-rest-url"

# resend emails
RESEND_API_KEY="your-resend-api-key"

# sentry
SENTRY_DSN="your-sentry-dsn"            # backend
VITE_SENTRY_DSN="your-vite-sentry-dsn"  # frontend

# better stack logs
LOGTAIL_SOURCE_TOKEN=g1Jjqvv36CrqqE6yP7Q4rHhU

NODE_ENV=development
PORT=3000